<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <link rel="stylesheet" href="static/home.css"> 
    </head>
    <body>
        <div class="welcome-container">
            <h1>Welcome to View Student Details</h1>
            <p class="intro-text">Manage student data efficiently with ease. Choose an option below to get started!</p>
        </div>
        
        <div class="card-container">
            <div class="card" method="POST">
                <a href="{{ url_for('login')}} ">Login</a>
            </div>
            <div class="card">
                <a href="{{ url_for('signup')}} ">SignUp</a>
            </div>
        </div>
    </body>
</html>